.header {margin-top: 40px;}

.logo { background-image: url("images/logo.png"); text-indent: -9999px; width: 299px;
height: 227px;}

.logo, .title, .details {display:block;}

.details { margin-top:50px;}

.authors li{ float: left; margin-right: 10px;}

.call-to-action { margin-top:20px;}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto }
