body {margin-top: 40px; margin-bottom:40px;color:gray;}
div.container { width:740px;}

/* ***Header*** */
.header {margin-top: 40px;}
.logo { background-image: url("images/logo.png"); text-indent: -9999px; width: 299px;height: 227px;}

.caption1, .caption2 { font-weight: bold; color:#404040;}
div.caption1 {font-size:36px;line-height:40px;}
div.caption2 {font-size:24px;line-height:36px;margin-top:10px;}
.logo, .title, .details {display:block;}

.details { margin-top:0px; margin-left:10px;}
#intro {margin-top:20px;}

ul.authors li{display:inline; margin-right: 10px;}

.call-to-action { margin-top:18px;}

/* ***Body Styles*** */
h2 { margin-top: 30px; }
h4.striped { font-weight:normal; font-style:italic; color:gray; }

.share-item { display: inline-block;}
.tagline {font-weight: bold;color: #404040;text-align: center; font-size:14px;}
.mutetext { color: #9F9F9F;}
.mutetext a { color: #5599EE;}
span.mutetext { margin-left:5px;}
.photo-gallery { padding: 10px; }
.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.bio-byline {font-size:14px; color:#9F9F9F; margin-bottom:10px;}

ul.sponsors {
    text-align: center;
}
ul.sponsors li {display:inline; margin: 0 20px 0 20px;}

div.dictionary { margin: 20px 10px; font-size:18px;}
.dictionary .word { font-weight:bold; }
.dictionary .phonetique, .dictionary .structure { color:#aaa; }
.dictionary .partofspeech { font-style:italic; }
